body {
background-color: black;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

#page_1  h1{
  font-family: 'Poiret One', cursive;
  font-size: 85px;
  letter-spacing: 3.5px;
  text-align: center;
  margin-top: auto 5px, 5px, auto;
  padding: 0;
  color: white;
  z-index: 2;
  }

  .container {
      position: relative;
      text-align: center;
  }
  .bottom-right {
    color: white;
    position: absolute;
    bottom: -300px;
    right: 16px;
    font-size: 24px;
}
  #page_1 .play {
    font-size: 40px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 400px;
    margin-top: -10px;
    letter-spacing: 2px;
  }
  #page_1 .rules {
    font-size: 40px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-right: 360px;
    margin-top: -10px;
    letter-spacing: 1px;
  }
  #player1 label {
    float: left;
  }
  #player1 input {
    margin-right: 50px;
    float: right;
    width: 200px;
  }
  /*h3 {
    margin: 150px 315px;;
    font-size: 28px;
    letter-spacing: .5px;
  }*/
  #player2 label {
    float: left;
  }
  #player2 input {
    margin-right: 50px;
    float: right;
    width: 200px;
  }
#page_2 {
  background-color: black;
  font-family: 'Poiret One', cursive;
  color: white;
}

/* ******************************* */
/* page_2 game board */
/* ******************************* */

#page_2 h1 {
  font-size: 50px;
  margin-top: 15px;
 text-align: center;
 line-height: 60%;
 letter-spacing: 3px;
}
#page_2 form{
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  border: white solid 1px;
  margin-left: 45px;
  margin-bottom: 75px;
}

#page_2 li {
  padding: 5px;
  margin-left: -5px;
  letter-spacing: 1px;

}

#page_2 .timer #click {
  font-size: 25px;
  color: white;
  margin-left: 45px;
}
#page_2 .timer #button {
  background color: #FFFFFF;
  border: #FFFFFF 1px solid;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  color: black;
  padding: 5px;
  margin-left: 15px;
}
.submitBtn {
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  margin-left: 25px;
  margin-bottom: 15px;
}
/**************************/

#page_3 body{
  background-color: black;
}
#page_3 h1 {
  font-family: 'Poiret One', cursive;
  font-size: 85px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: auto;

}
#page_3 h2 {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: -50px;
}
#page_3 .rules_box p {
  height:500px;
  width: 500px;
  border-color: white
  box-sizing: border-box;
  border: white solid 1px;
  margin: 0 auto;
}
#page_3 #rules {
  color: white;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  line-height: 150%;
}
#page_3 .bold {
  font-size: 20px;
  text-decoration: underline;
}
#page_3 #play_link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-left: 400px;
}
