body {
background-color: black;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
/* font-family: 'Poiret One', cursive; */
}
html {
  font-family: 'Poiret One', cursive;
}

/* #page_1  h1{
  font-family: 'Poiret One', cursive;
  font-size: 85px;
  letter-spacing: 3.5px;
  text-align: center;
  /* margin-top: auto 5px, 5px, auto; */
  /* padding: 0;
  color: white;
  z-index: 2;
  } */

  #page_1 h1 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Poiret One', cursive;
      font-size: 85px;
      letter-spacing: 3.5px;
      text-align: center;
      /* margin-top: auto 5px, 5px, auto; */
      padding: 0;
      color: white;
      /* z-index: 2; */
  }


  .container {
      position: relative;
      text-align: center;
  }
  .bottom-right {
    color: white;
    position: absolute;
    /* top: 40%; */
    right: 5%;
    font-size: 25px;
}
  #page_1 .play {
    font-size: 40px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    /* margin-left: 400px;
    margin-top: -10px; */
    letter-spacing: 2px;
    position: absolute;
    top: 35%;
    left: 30%;
  }

  #page_1 .rules {
    font-size: 40px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    float: right;
    /* margin-right: 360px;
    margin-top: -10px; */
    letter-spacing: 1px;
    position: absolute;
    top: 35%;
    left: 50%;
  }


/* ******************************* */
/* page_2 game board */
/* ******************************* */

#page_2 {
  background-color: black;
  font-family: 'Poiret One', cursive;
  color: white;
}

#page_2 h1 {
  font-size: 50px;
  margin-top: 15px;
 text-align: center;
 line-height: 60%;
 letter-spacing: 3px;
}
#page_2 form{
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  border: white solid 1px;
  margin-left: 45px;
  margin-bottom: 75px;
}
#player1 label {
  float: left;
}

#player1 input {
  margin-right: 50px;
  float: right;
  width: 200px;
}

#player2 label {
  float: left;
}

#player2 input {
  margin-right: 50px;
  float: right;
  width: 200px;
}

#page_2 li {
  padding: 5px;
  margin-left: -5px;
  letter-spacing: 1px;

}

#page_2 p#click {
  font-size: 25px;
  color: white;
  margin-left: 45px;
  margin-top: -25px;
}
button.timer__button {
  background color: #FFFFFF;
  border: #FFFFFF 1px solid;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  color: black;
  padding: 5px;
  margin-left: 20%;
}

.submitBtn {
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  margin-left: 25px;
  margin-bottom: 15px;
}

/**************************/

#page_3 body{
  background-color: black;
}


.container {
    position: relative;
    text-align: center;
    z-index: 0;
}

.container img {
  width:100%;
  height: 75%;
  margin-top: -50px;
  margin-left: -10px;
}

#page_3 h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poiret One', cursive;
    font-size: 85px;
    letter-spacing: 3.5px;
    text-align: center;
    /* margin-top: auto 5px, 5px, auto; */
    padding: 0;
    color: white;
    /* z-index: 2; */
}

#page_3 h2 {
  text-align: center;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 35%;
  left: 37%;
}
#page_3 .rules_box p {
  height:500px;
  width: 500px;
  border-color: white
  box-sizing: border-box;
  border: white solid 1px;
  position: absolute;
  top: 45%;
  left: 27%;
}
#page_3 #rules {
  color: white;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  line-height: 150%;
  z-index: 1;
}
#page_3 .bold {
  font-size: 20px;
  text-decoration: underline;
}
#page_3 a#play_link {
  color: white;
  text-decoration: none;
  font-size: 35px;
  margin-left: 400px;
}
