
form{
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  border: black solid 1px;
}

li {
  padding: 5px;
  margin-left: -15px;
}
/*#page_2 body {
  background-image:
}*/
.resetBtn {
  margin: auto;
}
.hideShow {
  text-align: center;
}
