#page_1 {
  background-color: black;
  color: white;
  font-family: 'Poiret One', cursive;
}
  #page_1  h1{
  font-family: 'Poiret One', cursive;
  font-size: 85px;
  letter-spacing: 3.5px;
  text-align: center;
  margin-top: auto;
  padding: 0;
  }
  #page_1 .play {
    font-size: 50px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 375px;
  }
  #page_1 .rules {
    font-size: 50px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-right: 275px;
  }
#page_2 {
  background-color: black;
  font-family: 'Poiret One', cursive;
  color: white;
}
#page_2 h1 {
  font-size: 50px;
  margin-top: 5px;
 text-align: center;
 line-height: 80%;
}
#page_2 #gameTitle {
letter-spacing: 1px;
}

#page_2 form{
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  border: white solid 1px;
  margin-left: 45px;
  margin-bottom: 50px;
}

#page_2 li {
  padding: 5px;
  margin-left: -5px;
  letter-spacing: 1px;

}
#page_2 .timer #click {
  font-size: 20px;
  color: white;
}
#page_2 .timer #button {
  background color: black;
  border: white 1px solid;
  color: white;
  padding: 5px;
}
#page_3 {
  background-color: black;
  font-family: 'Poiret One', cursive;
  color:white;
}
#page_3 h1 {
  font-size: 85px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: auto;

}
#page_3 h2 {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: -50px;
}
#page_3 .rules_box p {
  height:500px;
  width: 500px;
  border-color: white
  box-sizing: border-box;
  border: white solid 1px;
  margin: 0 auto;
}
#page_3 #rules {
  color: white;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  line-height: 150%;
}
#page_3 .bold {
  font-size: 20px;
  text-decoration: underline;
}
#page_3 #play_link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-left: 400px;
}
