#page_1 body {
}
#page_1 form{
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  border: black solid 1px;
}

#page_1 li {
  padding: 5px;
  margin-left: -15px;
}
#page_1 .resetBtn {
  margin: auto;
}
#page_2 #home_page_img {
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
}
  #page_2 @font-face {
    font-family: myFaveFont;
    src: url(Origin-Regular.ttf);
  }
  #page_2 div {
    font-family: myFaveFont;
  }
  a.play a.rules {
    font-family: 50px;
    color: black;
  }
